body{
    margin:0;
	padding:0;
}
#wrapper{
margin-top:38px; 
margin-left:45px; 
font-size:11px; 
line-height:16px; 
text-align:left; 
font-family:Century Gothic, Geneva, Arial, Helvetica, sans-serif;
color:#666666;
width: 925px;
overflow: hidden;
/zoom: 1;

}
#header{
padding-bottom:54px;
}
#menu1{
width:110px;
clear:left; 
float:left;
margin-right:20px;
}
#navi1 
a {
    display: block;
    padding-left: 0px;
    width: 110px;
}
#navi2 
a {
    display: block;
    padding-left: 0px;
    width: 170px;
}
a:visited, a:link, a:active {
    color: #666666;
    text-decoration: none;
}
ul, ol, dl, menu, dir, li, dt, dd {
    list-style: none;
	padding:0;
	margin:0;
	
}
#menu2
{ 
width:170px;
float:left;
margin-right:20px;

}
#contents
{

padding-right:35px;
width:315px;
float:left;
}
.text_box {
    width: 600px;
    display: inline-block;
}
#contents2
{
padding-left:15px;
width:610px;
float:left;
}
#photos
{
width:100px;
float:left;
padding-top:12px;
} 
.c1 
a:hover{background-color:#B3E4FF;}
.style1 {
	font-size: 14px;
	color:#000000;
}
.style2 {
	font-size: 12px;
	color:#000000;
}
.photos_table {
    margin-left: -3px;
}
.photos_table2 {
    margin-left: 338px;
}